/* the nav styling */
.list_style{
    list-style: none;
}
.side_display_flex{
    display:flex;
    /* box-sizing: inherit; */
}
.second{
    display:none;
}
.nav_one{
    background-color:#1c528a;
    height:100vh;
    background-image:url(../Images/sidebarpatterns.svg);
    background-repeat: no-repeat;
    background-position:bottom;
    color: white;
    position:fixed;
    width:15%;
    line-height: 1.5;
    box-sizing: inherit;
    font-family: "Roboto", sans-serif;
    padding-top: 64px !important;
}
h2{
 padding-left: 24px !important;
 padding-bottom: 24px !important;
 font-size: 1.4em; 
 font-weight: bold;
 
}
.margin_left{
    margin-left:16%;
    width:85%;
}
.margin_top{
    margin-top: 24px !important;
}
    
.list{
    border-radius: 27px;
    padding: 12px !important;
    margin-left: -20px !important;
    cursor: pointer;
}
.list:hover{
    transition:0.5s;
    background-color: #f5fffa;
    color: #000;
    opacity:0.7;
}
.list_active{
    background-color: #f5fffa;
    color:#1c528a;
    border-radius: 27px;
    padding: 12px !important;
    margin-left: -20px !important;
    cursor: pointer;
}
.icons_active{
   color:yellow;
}
.icons_classes{
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
.font_size{
    font-size: 0.8em;
    padding-left:20px;
}
.Dashboard_styling_bac{
  background-image:url(../Images/patterns.svg),url(../Images/topppaterns.svg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 40% 35%, 10% 17%;
  background-position: right bottom, right top;
}
@media screen and (max-width:1024px){
    .side_display_flex{
        display:none;
        box-sizing: inherit;
    }
    .second{
        display: block;
        position: fixed;
        display: flex;  
        height:4rem;
        background-color:#1c528a;
        bottom:0px;
        width:100%;
        overflow-x: auto;
        justify-content:space-around;
        z-index:1;
    }
    .link_second{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        min-width:50px;
    }
        
    .list{
        border-radius: 27px;
        padding: 10px !important;
        margin-left: 0px !important;
        cursor: pointer;
    }
    .icons_classes{
       
        display:flex;
        
    }
    .font_size{
        font-size: 0.8em;
        padding-left:0px;
    }
}




