.display_flex{
    display:flex;
    /* box-sizing: inherit; */
}
.nav_two{
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-top: 16px !important;
    justify-content: space-between !important
}
.Dashboard_two{
    color: #1C528A;
    font-size: 1.5em;
    font-weight: bold;
}
.He{
    height: 45px;
    min-width: 45px;
    width: 45px;
    background-color: rgb(255, 188, 68);
    border-color: rgb(255, 188, 68);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.He_main{
    color: #FFFFFF !important;
    font-size: 1.5rem !important;
}
.linkcolour{
    color:black;
    text-decoration: none;
}
.content_align{
   align-items: center;
   justify-content: center;
}
.padding_right_20{
    padding-right:20px;
}
.padding_top_40{
    padding-top:40px;
}
.paddding_right_40{
    padding-right:40px;
}
.text_align{
    text-align: left;
}
.table_styling{
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-right: -12px;
    margin-left: -12px;
    font-size: 0.9em;
    font-weight: bold;
}
.table_styling_coloums{
    width: 100%;
    padding: 12px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    opacity:0.7;
}
.SBPROPS_animation{
    animation-name:SBPROPS_animation;
    animation-duration:1s;
}
@keyframes SBPROPS_animation{
    from{
        opacity:0.01;
        transform: translate(0, 30px);
    }
    to{
        opacity:1;
        transform: translate(0, 0px);
    }
}
@media screen and (max-width:450px){
    .Dashboard_two{
        color: #1C528A;
        font-size: 0.9em;
        font-weight: bold;
    }
    .nav_two{
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 16px !important;
        justify-content: space-between !important
    }
    .paddding_right_40{
        padding-right:0px;
    }
    .table_styling_coloums{
        padding: 10px; 
    }
  }