.He{
    height: 45px;
    min-width: 45px;
    width: 45px;
    background-color: rgb(255, 188, 68);
    border-color: rgb(255, 188, 68);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.He_main{
    color: #FFFFFF !important;
    font-size: 1.5rem !important;
}
.add_props{
    color: #1C528A;
    font-size: 1em;
    font-weight: bold;
}
.display_flex{
    display:flex;
    /* box-sizing: inherit; */
}
.nav_two{
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-top: 16px !important;
    justify-content: space-between !important
}
.align_items{
    align-items: center;
}
.arrow_opacity{
    opacity:0.5;
}
.form{
    width:100%;
    flex-grow:1;
}
.form_animation{
    animation-name:form_animation;
    animation-duration:1s;
}
@keyframes form_animation{
    from{
        opacity:0.01;
        transform: translate(0, 30px);
    }
    to{
        opacity:1;
        transform: translate(0, 0px);
    }
}
input[type="file"]{
   display: none;
}
.addProps_DiplayFlex{
    display:flex;
}
.addProps_SpaceBtw{
    justify-content:space-between;
}
.mar-top{
    margin-top:20px;
}
.aln_con{
    align-content: flex-end;
}
.add_image_props{
    font-weight: bolder;
    opacity:0.5;

}
.margin_bottom{
  margin-bottom:50px;
}
.btn_height{
    height:50px;
}
@media screen and (max-width:1024px){
  .addProps_DiplayFlex{
      margin-bottom:80px;
  }
}