img{
    float: right;
    margin-top:5px;
}
.Homeabackground{
  background-color: #1c528a;
  height: 311px;
 
}
.properties{
 position: absolute;
 top:110px;
 left:30px;
 background-size:30%;
 font-size:30px;
 font-weight: bolder;
 color: white;
}
.Home_animation{
  animation-name: Home_animation;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
}
@keyframes Home_animation{
  from {
      opacity:0.01;
      transform: translate(0,10px);
  }
  to {
      opacity:1;
      transform: translate(0, 0);
  }
}
.search_animation{
  animation-name:search_animation;
  animation-duration: 1s;
  animation-delay:1s;
  animation-timing-function: ease-in;
}
@keyframes search_animation{
  from {
      opacity:0.01;
      transform: translate(-5px,0);
  }
  to {
      opacity:1;
      transform: translate(0, 0);
  }
}
    
